<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccqstark.stugrademanage.mapper.ClassMapper">

    <select id="getAllClass" resultType="Classes">
        SELECT * FROM class;
    </select>

    <select id="getClassByName" resultType="Classes">
        SELECT * FROM class WHERE class_name = #{class_name};
    </select>

    <select id="getExtraCourse" resultType="String">
        SELECT course_extra FROM class WHERE class_id = #{class_id};
    </select>

    <insert id="addClass" parameterType="String">
        INSERT into class (class_name) values (#{className});
    </insert>

    <select id="queryExtraCourse" parameterType="String" resultType="String">
        SELECT course_extra FROM class WHERE class_name = #{className};
    </select>

    <update id="updateExtraCourse" parameterType="String">
        UPDATE class
        SET course_extra = #{extraCourseStr}
        WHERE class_name = #{className};
    </update>


</mapper>