<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccqstark.stugrademanage.mapper.CourseExtraMapper">

    <!--将所有信息插入PP表里面，传入参数为list,通过<foreach>来遍历list-->
    <insert id="BatchInsertCourseExtra" parameterType="java.util.List">
        insert into grade_extra (number,student_name,class_name,course_name,score) VALUES
        <foreach collection="list" item="one_courseExtra" index="index" separator=",">
            (#{one_courseExtra.number},#{one_courseExtra.student_name},#{one_courseExtra.class_name},#{one_courseExtra.course_name},#{one_courseExtra.score})
        </foreach>
    </insert>

    <select id="getCourseExtraGrade" parameterType="String" resultType="CourseExtra">
        SELECT * FROM grade_extra WHERE class_name = #{class_name} AND course_name = #{course_name};
    </select>


</mapper>