<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccqstark.stugrademanage.mapper.StudentMapper">

    <select id="queryStudentList" resultType="Student">
        SELECT * FROM student;
    </select>

    <insert id="addStudent" parameterType="Student">
        INSERT into student (number, name,math,english,java,os,sports,average)
        values (#{number},#{name},#{math},#{english},#{java},#{os},#{sports},#{average});
    </insert>

    <update id="updateGrade" parameterType="Student">
        Update student
        SET number = #{number},
            name  = #{name},
            math = #{math},
            english = #{english},
            java = #{java},
            os = #{os},
            sports = #{sports},
        WHERE student_id = #{studentID};
    </update>

    <delete id="deleteStudent" parameterType="int">
        DELETE FROM student
        WHERE student_id = #{studentID};
    </delete>

</mapper>