<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccqstark.stugrademanage.mapper.StudentMapper">

    <select id="queryStudentListByClassID" parameterType="int" resultType="Student">
        SELECT * FROM student WHERE `class_id` = #{class_id};
    </select>

    <insert id="addStudent" parameterType="Student">
        INSERT into student (number, class_id, name, math, english, java, os, sports)
        values (#{number},#{class_id},#{name},#{math},#{english},#{java},#{os},#{sports});
    </insert>

    <update id="updateGrade" parameterType="Student">
        Update student
        SET number = #{number},
            class_id = #{class_id},
            name  = #{name},
            math = #{math},
            english = #{english},
            java = #{java},
            os = #{os},
            sports = #{sports},
        WHERE student_id = #{studentID};
    </update>


    <select id="findStudentByNumber" parameterType="String" resultType="String">
        SELECT `number` FROM student
        WHERE `number` = #{number};
    </select>

    <delete id="deleteStudent" parameterType="String">
        DELETE FROM student
        WHERE `number` = #{number};
    </delete>

</mapper>